/* GLOBAL */

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER */

.banner {
  background-image: url('../assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.nav-item {
  font-size: 18px;
}

.banner-text-bg {
  background: rgba(0, 0, 0, 0.61);
  color: #fef0f0;
  height: 264px;
  display: flex;
  align-items: center;
  margin-top: 188px;
}

.banner-stripe {
  margin: auto;
}

.banner-stripe p:first-child {
  font-size: 38px;
}

.banner-stripe p:last-child {
  font-size: 26px;
  font-family: 'Source Sans Pro Light', sans-serif;
}

.banner-arrow {
  justify-content: center;
  padding-top: 208px;
  padding-bottom: 40px;
}
