/* GLOBAL */

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro SemiBold';
  src: url('../assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #100102;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  overflow-x: hidden !important;
  white-space: normal;
  word-wrap: break-word;
}

/* FONTS STYLES */

.header-text {
  font-size: 48px;
  font-family: 'Source Sans Pro Light', sans-serif;
  margin-top: 100px;
}

.header-text-descr {
  font-size: 26px;
  font-family: 'Source Sans Pro Light', sans-serif;
}

.icon-text-header {
  font-size: 18px;
  font-family: 'Source Sans Pro SemiBold', sans-serif;
  margin-top: 16px;
}

.icon-text-descr {
  font-size: 18px;
}

.graphic-icon {
  margin-top: 36px;
}

/* HEADER */

.banner {
  background-image: url('../assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.navbar-light .navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
  padding: 15px 0;
  margin-left: 25px;
  margin-right: 25px;
  color: #100102;
  font-size: 20px;
  font-family: 'Source Sans Pro Light', sans-serif;
}

.navbar-light .navbar-nav .nav-item:nth-child(1) .nav-link:focus,
.navbar-light .navbar-nav .nav-item:nth-child(1) .nav-link:hover,
.navbar-light .navbar-nav .nav-item:nth-child(2) .nav-link:focus,
.navbar-light .navbar-nav .nav-item:nth-child(2) .nav-link:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  transition: 0.2s ease-in-out;
}

.navbar-light .navbar-nav .nav-item:last-child {
  background: #fff;
  border-radius: 45px;
}

.navbar-light .navbar-nav .nav-item:last-child:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.banner-text-bg {
  background: rgba(0, 0, 0, 0.61);
  color: #fef0f0;
  height: 264px;
  display: flex;
  align-items: center;
  margin-top: 188px;
}

.banner-stripe {
  margin: auto;
}

.banner-stripe p:first-child {
  font-size: 38px;
}

.banner-arrow {
  justify-content: center;
  padding-top: 208px;
  padding-bottom: 40px;
}

/* ABOUT */

.bg-color {
  background: rgba(205, 202, 192, 0.13);
  position: relative;
}

.img-about {
  background-image: url('../assets/image-about.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 41%;
  height: 100%;
}

.about-descr {
  margin-left: 50%;
}

.row-icons {
  padding-bottom: 100px;
}

/* GALLERY */

.carousel.carousel-slider .control-arrow.control-next::before {
  border-left: 8px solid #333030;
}

.carousel.carousel-slider .control-arrow.control-prev::before {
  border-right: 8px solid #333030;
}

.carousel.carousel-slider {
  max-height: 90vh;
}

.img-carousel {
  max-height: 90vh;
  width: auto;
  max-width: 95%;
}

.carousel .slide img.img-carousel {
  width: auto;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  background: #fff;
}

.carousel.carousel-slider .control-arrow.control-next:hover,
.carousel.carousel-slider .control-arrow.control-prev:hover {
  background: transparent;
}

.slider-animated {
  overflow-x: hidden;
}

.projects-thumbs {
  margin-top: 36px;
}

/* FOOTER */

.c-contact {
  font-size: 26px;
  font-family: 'Source Sans Pro Light', sans-serif;
  margin-top: 100px;
}

.c-phone {
  font-size: 48px;
  font-family: 'Source Sans Pro Light', sans-serif;
}

.c-mail {
  font-size: 48px;
  font-family: 'Source Sans Pro Light', sans-serif;
  margin-bottom: 0;
}

.logo-media {
  margin: 80px 40px;
}

/* RWD */

.navbar-light .navbar-toggler {
  background: #6c6c6d;
  border-radius: 50%;
  color: #fff;
  border-color: #6c6c6d;
}

.navbar-light .navbar-toggler-icon {
  width: 20px;
  height: 20px;
  background-image: url(../assets/toogler-icon.png);
}

.navbar-toggler {
  padding: 8px;
  font-size: 0;
}

@media (max-width: 767px) {
  .navbar-brand {
    visibility: hidden;
  }

  .navbar-light .navbar-nav .nav-item:last-child {
    background: transparent;
  }

  .logo-banner {
    position: absolute;
    top: -170px;
    left: 0;
    right: 0;
  }

  .banner-text-bg {
    margin-top: 170px;
    padding-bottom: 100px;
    height: 100%;
    position: relative;
  }

  .banner-stripe p:first-child {
    padding-top: 320px;
  }

  .banner-stripe p:last-child {
    padding-bottom: 40px;
  }

  .banner-arrow {
    display: none;
  }

  .img-about {
    display: none;
  }

  .about-descr {
    margin-left: 0;
    text-align: center;
  }

  .header-text {
    margin-top: 50px;
  }

  .row-icons {
    padding-bottom: 50px;
  }

  .projects-thumbs {
    display: flex;
    justify-content: center;
  }

  .projects-thumbs > div {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 258px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .c-contact {
    margin-top: 50px;
    font-size: 48px;
  }

  .c-mail {
    font-size: 26px;
  }

  .logo-media {
    margin: 40px 40px 20px 40px;
  }
}

@media (max-width: 575px) {
  .logo-banner {
    padding-left: 20%;
    padding-right: 20%;
  }

  .projects-thumbs > div {
    margin-left: 15px;
    margin-right: 15px;
  }

  #realisations div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 469px) {
}

body {
  overflow-x: hidden !important;
  white-space: normal;
  word-wrap: break-word;
}
