/* GLOBAL */

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}

/* FONTS STYLES */

.header-text {
  font-size: 48px;
  font-family: 'Source Sans Pro Light', sans-serif;
}

.header-text-descr {
  font-size: 26px;
  font-family: 'Source Sans Pro Light', sans-serif;
}

/* HEADER */

.banner {
  background-image: url('../assets/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.nav-item {
  font-size: 18px;
}

.banner-text-bg {
  background: rgba(0, 0, 0, 0.61);
  color: #fef0f0;
  height: 264px;
  display: flex;
  align-items: center;
  margin-top: 188px;
}

.banner-stripe {
  margin: auto;
}

.banner-stripe p:first-child {
  font-size: 38px;
}

.banner-arrow {
  justify-content: center;
  padding-top: 208px;
  padding-bottom: 40px;
}

/* ABOUT */

.about {
  background: rgba(205, 202, 192, 0.13);
  position: relative;
}

.img-about {
  background-image: url('../assets/image-about.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 41%;
  height: 100%;
}

.about-descr {
  margin-left: 50%;
}

/* GALLERY */

.carousel.carousel-slider .control-arrow.control-next::before {
  border-left: 8px solid #333030;
}

.carousel.carousel-slider .control-arrow.control-prev::before {
  border-right: 8px solid #333030;
}

.carousel.carousel-slider {
  max-height: 90vh;
}

.img-carousel {
  max-height: 90vh;
  width: auto;
  max-width: 95%;
}

.carousel .slide img.img-carousel {
  width: auto;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  background: #fff;
}

.carousel.carousel-slider .control-arrow.control-next:hover,
.carousel.carousel-slider .control-arrow.control-prev:hover {
  background: transparent;
}

/* FOOTER */

.logo-media {
  margin-left: 40px;
  margin-right: 40px;
}
